<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <div class="large-avatar-container mb-3">
        <%= image_tag @user.avatar.presence || asset_path("avatars/avatar3.png"), id: "largeAvatar", class: "large-avatar img-fluid rounded-circle mb-3"%>
      </div>

      <div class="card profile-card">
        <div class="card-header profile-header">
          <h1 class="my-4"><%= @user.name %> <%= @user.surname %></h1>
        </div>
        <div class="card-body profile-body">
          <p><strong>Bio:</strong></p>
          <p class="bio-text"><%= @user.bio %></p>

          <p><strong>Enrolled Courses:</strong></p>
          <% if @user.courses.any? %>
            <ul class="courses-list">
              <% @user.courses.each do |course| %>
                <li><%= link_to course.title, course_path(course) %></li>
              <% end %>
            </ul>
          <% else %>
            <p>No courses enrolled yet.</p>
          <% end %>

          <%= link_to edit_user_registration_path, class: "btn btn-primary mt-3" do %>
            <i class="fas fa-pencil-alt"></i> Edit Profile
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
