<div class="list-group-item" >
  <p><strong><%= question.content %></strong></p>
  <% if question.completed_by?(current_user) %>
    <p><strong>Completed on <%= question.completion_time(current_user).strftime('%Y-%m-%d %H:%M:%S') %></strong></p>
    <p>Congratulations! The correct answers were: <%= question.answer_choices.where(correct: true).pluck(:content).join(', ') %></p>
  <% else %>
    <%= form_with url: experiment_question_answers_path(@experiment, question), method: :post, local: true do |f| %>
      <% question.answer_choices.each do |choice| %>
        <div class="form-check">
          <%= check_box_tag "answer_choice_ids[]", choice.id, false, class: "form-check-input", data: { questions_target: "checkbox" } %>
          <%= label_tag "answer_choice_ids_#{choice.id}", choice.content, class: "form-check-label" %>
        </div>
      <% end %>
      <%= f.submit 'Submit', class: 'btn btn-secondary mt-2' %>
    <% end %>
  <% end %>
</div>
